<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Temperature.css">
</head>

<body>
    <div class="box">
        <div class="title">
            <h3>Instant Temperature Query</h3>
            <h4>(Global)</h4>
        </div>

        <div id="app">
            <div class="searchbox">
                <input type="text" placeholder="Search the temperature for the city you want. (Press enter)"
                    v-model="city" v-bind:title="message" @keyup.enter="searchWeather">
                <button @click="searchWeather">
                    <div class="img"><img src="./searchbox.png">
                </button>
            </div>

            <div class="fastkey">
                <!-- Quick Navigation -->
                <a @click="changeCity('Chicago')">Chicago</a>
                <a @click="changeCity('New York')">New York</a>
                <a @click="changeCity('Boston')">Boston</a>
                <a @click="changeCity('Gainesville')">Gainesville</a>
            </div>
            <div class="show">
                <ul>
                    <li v-for="item in forecast">
                        <div class="avgtemp">{{item.day.avgtemp_c}}℃</div>
                        <div class="temprange">{{item.day.mintemp_c}}℃~{{item.day.maxtemp_c}}℃</div>
                        <div class="tempbig">{{item.date}}</div>
                    </li>
                </ul>
            </div>
            <div class="showntag" v-show="showcity"> The temperature forecase of <span>{{cityshown}}</span> is now shown. </div>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./Temperature.js"></script>
</body>

</html>